html  {
	background: url(../images/1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-style: normal;
	font-family: Bookman Old Style;
	color: black;
}

.content {
	color: black;
	padding: 70px;
	height: 450px;
	width: 450px;
	margin: 30px auto;
}

.profile-pic {
	height: 250px;
	width: 250px;
	border-radius: 100%;

}

#personal-data {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 5px auto;
	height: 250px;
	width: 450px;
	border: 3px gray solid;
	
}

#education {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 25px auto;
	height: 350px;
	width: 450px;
	border: 3px gray solid;
}

#eligibility {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 25px auto;
	height: 200px;
	width: 450px;
	border: 3px gray solid; }
	
#experience {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 25px auto;
	height: 450px;
	width: 450px;
	border: 3px gray solid;
	
	
}
#seminars {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 25px auto;
	height: 420px;
	width: 450px;
	border: 3px gray solid;
	
}
#references {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: 25px auto;
	height: 300px;
	width: 450px;
	border: 3px gray solid;
	
}
#saying {
	padding: 50px;
	background-color: rgba(0,0,0,0.1);
	margin: auto;
	height: 90px;
	width: 450px;
	border: 3px gray solid; }

#credits {
	margin: auto;
	padding: 20px;
	height: 1px;
	width: 500px;
	}
